/* Smartphones (portrait and landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
       
    }
    /* navigation bar start*/
    .header .navbar{
        background:black;
        box-shadow: 2px 2px 3px 0 rgba(228, 226, 225, 0.596);
        position: fixed;
        width: 100%;
        z-index: 3;
        overflow: hidden; 
    }
    
   /* logo start*/
    .header .navbar .logo {
      display:inline-block;
      color: white;
      font-weight: bolder;
      position: relative;
      left: 10%;
      top: 3px;
    }

    .header .navbar .logo a{
        color: #A61C1C ;
    }
    /* logo end */

     /* navigation menu start */
    .header .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .header .navbar ul a{
        display: block;
        padding: 20px 20px 20px 10px;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        
    }

    .header ul a:active{
        background-color: white;
        color:black;
    }
    .header ul a:hover{
        background-color: white;
        color:black;
    }
    /* navigation menu end */

    /* sign up button start*/
      .header #signup{
        position: relative;
        background-color:black;
        border-radius: 5px;
        padding: 7px;
        margin: 15px;
        color: white;
        font-weight: bold;
        border: white solid 2px;
        cursor:pointer;
        
    }
    /* sign up button end*/

    /* hamburger menu icon start*/
    .header .menu{
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        
    }
    
    .header .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
    }
    
    .header .menu-icon .nav-icon{
        background-color: white;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;
    }
    
    .header .menu-icon .nav-icon:before{
        background-color: white;
        display: block;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 5px; 
        transition: all .2s ease-out;
    }
    
    .header .menu-icon .nav-icon:after{
        background-color: white;
        display: block;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: -5px; 
        transition: all .2s ease-out;
    }

         /* hide hamburger toggle(checkbox) start */
    .header .menu-btn{
        display: none;
    }
        /* hide hamburger toggle(checkbox) end*/ 
    .header .menu-btn:checked ~ .menu{
        max-height: 240px;
    }
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
    }
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon:before{
       transform: rotate(-45deg); 
       top: 0;
    }
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);  
        top: 0; 
    }

    /* hamburger menu icon end*/

     /* End of navigation bar  */
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait)  */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape)  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait)  */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Desktops and laptops  */
@media only screen and (min-width : 1224px) {
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
       
    }
    /* navigation bar */
    .header{
        background-color: rgb(3, 3, 3);
        width: 100vw;
        height: 100vh;
    }
    .header .navbar{
        background:black;
        box-shadow: 2px 2px 3px 0 rgba(10, 10, 10, 0.596);
        position: fixed;
        width: 100%;
        z-index: 3;
        overflow: hidden;  
    }
    
  /* logo start */
    .header .navbar .logo {
      display:inline-block; 
      margin: 20px;
    }
     /*logo end  */

     /* navigation menu start */
    .header .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .header .navbar ul a{
        display: block;
        padding: 30px 30px 30px 20px;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        
    }
    .header li{
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    /* sign up button start */
    .header #signup{
        background-color: #A61C1C;
        border-radius: 5px;
        padding: 20px 25px;
        color: white;
        font-weight: bolder;
        float: right;
        margin-right: 20px;
        margin-top: 12px;
        border: none;
        cursor: pointer;
        
    }
    
    .header .navbar .logo a{
        color: #A61C1C ;
    }
    .header #signup:hover{
        background-color: black;
        border-style: solid;
        border-color: #A61C1C;
        transform: scale(1.05);
    }
    /* sign up button end */

    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
/* hide hamburger toggle(checkbox) start */
    .header .navbar .menu-btn {
        display: none;
    }
  /* hide hamburger toggle(checkbox)end */


    .header .navbar ul a{
        display: block;
        padding: 30px 30px 30px 20px;
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    .header ul li:hover{
        transform: scale(1.2);
    }

    /* navigation menu end */

    /* End of navigation bar  */
    
  /*rest od the header*/
    /* circles on screen*/
    .circle1{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 20px;
        top: 65%;
        z-index: 1;
        border-radius: 50%;
        background: rgba(217, 43, 43, 0.1);
    }
    .circle2{
          position: absolute;
          width: 300px;
          height: 300px;
          left: 40%;
          top: 110px;
          border-radius:50%;
          background: rgba(217, 147, 43, 0.1);
      }
   
    .freelancer-search-panel{
      width: 50%;
      height:70%;
      position: absolute;
      top:30%;
      right:1%;
      z-index:2;
      background-color: transparent;
      color:white;
      border:none;
     
    }
     /*image of man*/
    .image-container{
      position: relative;
      left:5%;
      bottom: -10%;
      z-index:2;
      float: left;
      color: white;
      border:none;
    }
    
    
    img.man {
      position: relative;
      width: 35%%;
      height: 640px;
    }
    /*end*/
    /*textfields*/
    form.search-panel{
      float: left;
      width:100%;
    }
    input.looking-for{
      /* adjust text size*/
      font-size:14pt;
      position: relative;
      width:60%;
      float:left;
      height:10%;
    }
    input.department{
      /*adjust text-size*/
      font-size:14pt;
      position: relative;
      width:40%;
      height:10%;
    }
    /*end*/
    /*button*/
    button.get-started{
      position: absolute;
      top:40%;
      left:0px;
      color:white;
      font-size: 12pt;
      width: 100px;
      height: 50px;
      background-color: #A61C1C;
      border-radius: 5px ;
      border:none;
    }
    .get-started:hover{
        background-color: black;
        border-style: solid;
        border-color: #A61C1C;
        transform: scale(1.05);
    }
    /*end*/
    
    
}


