
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
       
    }

   
    /* navigation bar start*/
    .header .navbar{
        background:black;
        box-shadow: 2px 2px 3px 0 rgba(228, 226, 225, 0.596);
        position: fixed;
        width: 100%;
        z-index: 3;
        overflow: hidden; 
    }
    
   /* logo start*/
    .header .navbar .logo {
      display:inline-block;
      color: white;
      font-weight: bolder;
      position: relative;
      left: 10%;
      top: 3px;
    }

    .header .navbar .logo a{
        color: #A61C1C ;
    }
    /* logo end */

     /* navigation menu start */
    .header .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .header .navbar ul a{
        display: block;
        padding: 20px 20px 20px 10px;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        
    }

    /* navigation menu end */

    /* sign up button start*/
      .header #signup{
        position: relative;
        background-color:black;
        border-radius: 5px;
        padding: 7px;
        margin: 15px;
        color: white;
        font-weight: bold;
        border: white solid 2px;
        cursor:pointer;
        
    }
    /* sign up button end*/

    /* hamburger menu icon start*/
    .header .menu{
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        
    }
    
    .header .menu-icon{
        padding: 28px 20px;
        position: relative;
        float: right;
        cursor: pointer;
    }
    
    .header .menu-icon .nav-icon{
        background-color: white;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;
    }
    
    .header .menu-icon .nav-icon:before{
        background-color: white;
        display: block;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 5px; 
        transition: all .2s ease-out;
    }
    
    .header .menu-icon .nav-icon:after{
        background-color: white;
        display: block;
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: -5px; 
        transition: all .2s ease-out;
    }

         /* hide hamburger toggle(checkbox) start */
    .header .menu-btn{
        display: none;
    }
        /* hide hamburger toggle(checkbox) end*/ 
    .header .menu-btn:checked ~ .menu{
        max-height: 240px;
    }
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
    }
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon:before{
       transform: rotate(-45deg); 
       top: 0;
    }
    
    .header .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);  
        top: 0; 
    }
     
 
  /*rest od the header*/
    /* circles on screen*/
    .circle1,.circle2,.circle3{
        position: relative;
        width: 200px;
        height: 200px;
        left: 20px;
        top: 5%;
        z-index: 1;
        opacity: 0.8;
        border-radius: 50%;
        background: rgba(217, 43, 43, 0.1);
    }
    .circle2{
          position: relative;
          width: 200px;
          height: 200px;
          left: 20%;
          top: 40px;
          background: rgba(217, 147, 43, 0.1);
      }
      .circle3{
        position: relative;
        width: 150px;
        height: 150px;
        left: 60%;
        top: 5%;
        background: rgba(43, 50, 217, 0.1);
      }
   
    .freelancer-search-panel{
      width: 100vw;
      height:70%;
      position: relative;
      top:30%;
      margin-left: 7px;
      margin-right: 7px;
      z-index:2;
      background-color: transparent;
      color:white;
      border:none;
     
    }
    
 
    
    /*end*/
    /*textfields*/
    form.search-panel{
      float: left;
      width:100%;
    }
    input.looking-for{
      /* adjust text size*/
      font-size:11pt;
      
      width:60%;
      float:left;
      height:10%;
    }
    input.department{
      /*adjust text-size*/
      font-size:11pt;
      
      width:40%;
      height:10%;
    }
    /*end*/
    /*button*/
    button.get-started{
      
      color:white;
      font-size: 12pt;
      width: 100px;
      height: 50px;
      background-color: #A61C1C;
      border-radius: 5px ;
      border:none;
    }
   
    /*end*/
    /* hamburger menu icon end*/

     /* End of navigation bar  */

/* Small (sm) */
@media (min-width: 640px) { /* ... */ }

/* Medium (md) */
@media (min-width: 768px) { /* ... */ }

/* Large (lg) */
@media (min-width: 1024px) { 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: white;
        color:  rgb(65, 61, 61);
        font-family: Arial, Helvetica, sans-serif;
       
    }
    /* navigation bar */
    .header{
        background-color: rgb(3, 3, 3);
        width: 100vw;
        height: 100vh;
    }
    .header .navbar{
        background:black;
        box-shadow: 2px 2px 3px 0 rgba(10, 10, 10, 0.596);
        position: fixed;
        width: 100%;
        z-index: 3;
        overflow: hidden;  
    }
    
  /* logo start */
    .header .navbar .logo {
      display:inline-block; 
      margin: 20px;
    }
     /*logo end  */

     /* navigation menu start */
    .header .navbar ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .header .navbar ul a{
        display: block;
        padding: 30px 30px 30px 20px;
        text-decoration: none;
        color: white;
        font-weight: bolder;
        
    }
    .header li{
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    /* sign up button start */
    .header #signup{
        background-color: #A61C1C;
        border-radius: 5px;
        padding: 20px 25px;
        color: white;
        font-weight: bolder;
        float: right;
        margin-right: 20px;
        margin-top: 12px;
        border: none;
        cursor: pointer;
        
    }
    
    .header .navbar .logo a{
        color: #A61C1C ;
    }
    .header #signup:hover{
        background-color: black;
        border-style: solid;
        border-color: #A61C1C;
        transform: scale(1.05);
    }
    /* sign up button end */

    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
/* hide hamburger toggle(checkbox) start */
    .menu-icon {
        display: none ;
    }
  /* hide hamburger toggle(checkbox)end */


    .header .navbar ul a{
        display: block;
        padding: 30px 30px 30px 20px;
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }
    .header ul li:hover{
        transform: scale(1.2);
    }

    /* navigation menu end */

    /* End of navigation bar  */
    
  /*rest od the header*/
    /* circles on screen*/
    .circle1,.circle2,.circle3{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 20px;
        top: 65%;
        z-index: 1;
        opacity: 0.8;
        border-radius: 50%;
        background: rgba(217, 43, 43, 0.1);
    }
    .circle2{
          position: absolute;
          width: 300px;
          height: 300px;
          left: 40%;
          top: 110px;
          background: rgba(217, 147, 43, 0.1);
      }
      .circle3{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 80%;
        top: 65%;
        background: rgba(43, 50, 217, 0.1);
      }
   
    .freelancer-search-panel{
      width: 50%;
      height:70%;
      position: absolute;
      top:30%;
      right:1%;
      z-index:2;
      background-color: transparent;
      color:white;
      border:none;
     
    }
     /*image of man*/
    .image-container{
      position: absolute;
      left:5%;
      bottom: 0%;
      z-index:2;
      float: left;
      color: white;
      border:none;
    }
    
    
    img.man {
      position: relative;
      /* width: 35%%; */
      height: 640px;
    }
    /*end*/
    /*textfields*/
    form.search-panel{
      float: left;
      width:100%;
    }
    input.looking-for{
      /* adjust text size*/
      font-size:14pt;
      position: relative;
      width:60%;
      float:left;
      height:10%;
    }
    input.department{
      /*adjust text-size*/
      font-size:14pt;
      position: relative;
      width:40%;
      height:10%;
    }
    /*end*/
    /*button*/
    button.get-started{
      position: absolute;
      top:40%;
      left:0px;
      color:white;
      font-size: 12pt;
      width: 100px;
      height: 50px;
      background-color: #A61C1C;
      border-radius: 5px ;
      border:none;
    }
    .get-started:hover{
        background-color: black;
        border-style: solid;
        border-color: #A61C1C;
        transform: scale(1.05);
    }
    /*end*/

    /* companies that use product start*/
    .companies .company-logos{
      display: flex;
      justify-content: space-evenly;
     

  }
  .companies{
      padding: 30px;
  }
  .companies h2{
      text-align:center;
  }
  .companies img{

  width: 150px;
  height: 100px;
  }

   /* companies that use product end*/
main{
  background-color: rgb(229, 229, 229);
}

/* catecory tabs start */
 .category-links ul li img{
   width: 25px;
   height: 25px;
   border-radius: 50%;
 }
  .category-links ul li{
    display: inline-block;
    margin-top: 15px;
    margin-left: 50px;
    text-align: center;
    border-radius: 40px;
    background-color: white;
    
    font-weight: 550;
    font-size: 13px;
    
  }
  .category-links ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 7px;
    right: 7px;
    padding-left: 10px;
    
    
  }
  /* category tabs end */

  /* freelancer cards start */
  
  .freelancers{
    margin-top: 15px;
  }

  /* styles text and headings  start*/
  .freelancers .freelancers-head{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .freelancers h2{
    font-weight: 550;
    color: rgb(65, 61, 61);
    
  }

  .freelancers a {
    color: rgb(65, 61, 61);
    text-decoration: none;
    
  }

   /* styles text and headings  end*/


  .top-freelancers {
    
   display: grid;
   grid-template-columns: 15px 300px 300px 300px 15PX;
   column-gap: 30px;
   justify-items: center;
   justify-content: center;
   align-items: center;
  }
  

  .freelancers .freelancers-head p a{
    float: right;
    position: relative;
    bottom: 25px;
    right: 9px;
    color: grey;
  }
  .freelancer-card{
    background-color: white;
    box-shadow: 2px 1px 1px white;
  }
 .freelancer-card .freelancer-profile-img img{
    width: 300px;
    height:200px;
 }



 .freelancer-card .name{
   font-weight: 500;
   
 }
 .freelancer-card .skills{
   display: inline-block;
   background-color:  rgb(229, 229, 229);
   color: rgb(110, 107, 107);
   font-size: 13px;
   font-weight: bold;
   border-radius: 25px;
   padding: 2px;
   
 }
 .fa-chevron-left{
   cursor: pointer;
   color: #8f8c8c;
   
 }

 .fa-chevron-right{
  cursor: pointer;
  color: #8f8c8c;
  
}


.best-freelancers{
  display:flex;
}
.best-freelancers {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 25px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* stars/ranking start */
.reveiws{
  margin-top: 15px;
  color: rgb(189, 189, 189);
}

/* stars/ranking end */

.all-categories{
  margin-top: 15px;
  position: relative;
  left: 40%;
}
.all-categories a{
  color: #A61C1C;
}
}
/* Extra Large (xl) */
@media (min-width: 1280px) { /* ... */ }